html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-color: rgb(237, 237, 237);
  font-family: Open Sans, sans-serif;
  padding: 15px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.section {
  background-color: white;
}

.section__header {
  margin-bottom: 0px;
  padding: 15px;
  border-bottom: 1px solid rgb(237, 237, 237);
}